.App {
  text-align: center;
  position: relative;
    height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background, .contact {
  border: 2px solid lightblue;
  background-color: rgb(117, 111, 111) ;
}

.contact {
  background-color:  rgb(117, 111, 111);
}

.bkgd {
  background-color: rgb(87, 81, 81);
  color: lightblue;
}

.card {
  margin-top: 10px;
  padding: 10px;
}

.col1 {
  width: 47%;
  margin-left: 10px;
  margin-right: 20px;
}

.col2 {
  width: 47%;
  
}

.c1 {
  background-color: rgb(114, 109, 109);
}
.c2 {
  background-color: rgb(143, 138, 138);
}
.c3 {
  background-color: rgb(161, 157, 157);
}
.c4 {
  background-color: rgb(179, 174, 174);
}
.c5 {
  background-color: rgb(194, 187, 187);
}
.c6 {
  background-color: rgb(216, 212, 212);
}
.c7 {
  background-color: rgb(228, 225, 225);
}
.l1 {
  background-color: rgb(138, 126, 126);
}
.l2 {
  background-color: rgb(138, 126, 126) ;
}
.l3 {
  background-color: rgb(172, 160, 160);
}
.l4 {
  background-color: rgb(172, 160, 160) ;
}
.l5 {
  background-color: rgb(149, 16, 49) ;
}
.l5:hover {
  background-color: limegreen;
}

/* #viewPortfolio {
  animation-name: colorful;
  animation-duration: 3s;
}

@keyframes colorful {
  0% {
    background-color: white;
  }
  100% {
    background-color: yellow;
  }
} */

#viewPortfolio {
  color: white;
}

#viewPortfolio:hover {
  color: black;
}
.contact {
  padding-top: 40px;
}

.profile {
  height: 290px;
  width: 290px;
  margin-left: 28%;
  position: relative;
}
.row {
  padding-bottom: 60px;
  
}

#sticky-footer {
  background-color: black;
  border-top: "1px solid #E7E7E7";
  text-align: "center";
  padding: "30px";
  position: "fixed !important";
  left: "0 !important";
  bottom: "0 !important";
  height: "70px";
  width: "100%";
  
  /* margin-top: 45%; */
}





